{% extends "base.html" %}

{% block content %}
<h2>About</h2>
<p>HIT Fails is a crowd sourced website that chronicles Health Informatics related usability errors, failures, and faux pas. Our goal for creating this site was not sure shame vendors, but rather collect and display typical problems, so that we can move towards solutions as a community.</p>
<p>On this website you will be able to post new HIT usability issues, organize existing issues, and share your thoughts about HIT.</p>
<p>This website is currently in developlent, please email us your HIT Fails.</p>
<h2>Sample Fails</h2>
<p>We have collected a sample set of HIT fails. Check them out and tell us what you think!</p>
<ul>
	<li><a href="/icons.html">Bad Icons</a></li>
</ul>
{% endblock content %}